@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0");
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-rounded {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

body {
    @apply font-open-sans
}

#content {
    @apply leading-relaxed;
}

.header-font {
    @apply font-chakra-petch;
}

.menu-active {
    @apply text-acm-light-blue-400;
}

.menu-inactive {
    @apply text-white;
}

.breadcrumb-list {
    @apply text-sm mb-6 list-none p-0 m-0 indent-0;
}

.breadcrumb-list > li {
    @apply inline-block;
}

.breadcrumb-list > li + li::before {
    content: " / ";
    @apply text-gray-300;
}

h1 {
    @apply text-4xl text-acm-blue-600 py-2 border-b border-acm-green mb-6 header-font;
}

h2 {
    @apply text-2xl text-acm-blue-600 py-2 header-font;
}

h3 {
    @apply text-lg text-acm-blue-600 py-2 header-font;
}

p {
    @apply pb-4
}

#TableOfContents > ul > li {
    @apply pb-2 text-gray-800 hover:text-acm-orange pl-6 -indent-6;
}

#TableOfContents ul {
    list-style-position: outside;
}

#TableOfContents li::before {
    content: "# ";
    @apply pr-2  text-gray-400;
}

#content ul ul {
    @apply pl-6;
}

div.highlight {
    @apply pb-4;
}

.highlight > pre {
    @apply p-4 rounded-lg;
}

a {
    @apply text-acm-blue-600;
}

a:hover {
    @apply text-acm-orange;
}

ol {
    @apply list-decimal list-outside ml-6 mb-4; 
}

ul {
    @apply list-disc list-outside ml-6 mb-4;
}

ul li::marker {
    @apply text-acm-orange w-6 ;
}

ol li::marker {
    @apply text-acm-orange font-semibold;
}

#toc ul {
  @apply list-none;
}

ul.events {
  @apply list-none p-0 indent-0 ml-0;
}

table tr td {
  @apply p-2;
}

table th {
    @apply text-left p-2 header-font text-lg text-acm-orange border-b border-acm-orange;
}

table {
  @apply my-4 w-full;
}

tr:nth-child(even) {
  @apply bg-zinc-100;
} 
