{{ define "main" }}
<div class="container mx-auto">
    {{ partial "breadcrumb.html" . }}
    <h1>Events for the {{ .Parent.Title }} Committee</h1>
    {{ .Content }}

    <h2>Upcoming Events</h2>
    
    <ul class="pb-4">
    {{ range sort .Pages ".Params.EventDate" "asc" }}
        {{ if ge (time .Params.EventDate .Params.TimeZone) now }}
            <li class="pb-3 border-b border-acm-green mb-5">{{ partial "event.html" . }}</li>
        {{ end }}
    {{ end }}
    </ul>

    <h2>Past Events</h2>
    <ul class="pb-4">
        {{ range sort .Pages ".Params.EventDate" "desc"  }}
            {{ if lt (time .Params.EventDate .Params.TimeZone) now }}
                <li class="pb-6 ">{{ partial "event.html" . }}</li>
            {{ end }}
        {{ end }}
        </ul>
</div>
{{ end }}