{{ define "main" }}
<div class="container mx-auto max-w-5xl px-4">
    {{ partial "breadcrumb.html" . }}
    {{ if not .Parent.IsHome }}
    <h1>Events for the {{ .Parent.Title }} Committee</h1>
    {{ else }}
    <h1>Events for the ACM SigHPC Education Chapter</h1>
    {{ end }}
    {{ .Content }}

    <div class="flex justify-between items-center mb-6">
    <h2 class="font-semibold">UPCOMING EVENTS</h2>
        {{ partial "button.html" (dict "btnlink" "index.ics" "btnicon" "event" "btntext" "Subscribe to our events calendar!") }}
    </div>
    
    
    <ul class="pb-4 events">
    {{ range sort .Pages ".Params.EventDate" "asc" }}
        {{ if ge (time .Params.EventDate .Params.TimeZone) now }}
            <li class="pb-6">{{ partial "event.html" . }}</li>
        {{ end }}
    {{ end }}
    </ul>

    <h2 class="font-semibold pb-4">PAST EVENTS</h2>
    <ul class="pb-4 events">
        {{ range sort .Pages ".Params.EventDate" "desc"  }}
            {{ if lt (time .Params.EventDate .Params.TimeZone) now }}
                <li class="pb-6 ">{{ partial "event.html" . }}</li>
            {{ end }}
        {{ end }}
        </ul>
</div>
{{ end }}
