{{ define "main" }}
<div class="container mx-auto max-w-5xl">
    {{ partial "breadcrumb.html" . }}
    {{ if ne .Parent.Title "SigHPCEdu Website" }}
    <h1>Events for the {{ .Parent.Title }} Committee</h1>
    {{ else }}
    <h1>Events for the ACM SigHPC Education Chapter</h1>
    {{ end }}
    {{ .Content }}

    <div class="flex justify-between items-center mb-6">
    <h2 class="font-semibold">UPCOMING EVENTS</h2>
    <div class="flex items-center justify-center"><a href="index.ics" class="rounded border-2 border-acm-orange-light text-acm-orange hover:bg-zinc-100 font-semibold italic flex items-center justify-center p-2"><span class="material-symbols-rounded pr-2">event</span><span>Subscribe to our events calendar!</span></a></div>
    </div>
    
    
    <ul class="pb-4 events">
    {{ range sort .Pages ".Params.EventDate" "asc" }}
        {{ if ge (time .Params.EventDate .Params.TimeZone) now }}
            <li class="pb-6">{{ partial "event.html" . }}</li>
        {{ end }}
    {{ end }}
    </ul>

    <h2 class="font-semibold pb-4">PAST EVENTS</h2>
    <ul class="pb-4 events">
        {{ range sort .Pages ".Params.EventDate" "desc"  }}
            {{ if lt (time .Params.EventDate .Params.TimeZone) now }}
                <li class="pb-6 ">{{ partial "event.html" . }}</li>
            {{ end }}
        {{ end }}
        </ul>
</div>
{{ end }}
