# Modified from 

name: github pages

on:
  push:
    branches:
      - main  # Set a branch that will trigger a deployment
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - uses: actions/setup-node@v3
        with:
          node-version: 16
      
      - run: npm install

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.111.3'
          # extended: true

      - name: Build
        run: hugo --minify -b "https://sighpcedu.github.io/sighpcedu-website"

      - name: Build for prod
        run: mkdir prod && hugo --minify -d prod/ -b "https://sighpceducation.acm.org/"

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public

      - name: Archive production site
        uses: actions/upload-artifact@v3
        with:
          name: sighpcedu-production-site
          path: prod/
